*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #001821;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.title {
  color: #ffffff;
  font-weight: 700;
}

.section__title {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 51px;
}

.btn {
  padding: 18px 40px;
  border-radius: 30px;
  display: inline-block;
  background-color: #f5170e;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.btn:hover {
  background-color: #da0100;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
}

.index--wrapper {
  background: url("img/bg.jpg") center top no-repeat;
}
/* HEADER */

.header {
  padding-top: 33px;
  margin-bottom: 117px;
}
.logo {
  display: block;
  width: 100%;
  height: 100%;
}
.header__logo {
  width: 85px;
  height: 36px;
  margin-right: 80px;
}

.header__menu {
  flex: 1;
  padding-top: 10px;
}

.menu__list {
  display: flex;
}
.menu__item {
  display: inline-block;
  list-style-type: none;
}
.menu__item:not(:last-child) {
  margin-right: 54px;
}
.menu__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.menu__link--active {
  pointer-events: none;
  cursor: default;
  color: #da0100;
}

.menu__link:hover,
.menu__link:active {
  color: #da0100;
  cursor: pointer;
}

.contacts {
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}

.contacts__phone {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  padding-top: 10px;
}
.contacts__phone-num {
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
}

.contacts__schedule {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  text-decoration: underline;
  color: #98a4a8;
  font-style: normal;
  cursor: pointer;
}
.contacts__schedule:hover,
.contacts__schedule:active {
  color: #ffffff;
}

.contacts__schedule-popup {
  width: 80%;
  position: absolute;
  top: 60px;
  border-radius: 5px;
  background-color: #cdd1d2;
  color: #1e1f20;
  text-align: left;
  padding: 11px 0 11px 19px;
  line-height: 21px;
  display: none;
}

.contacts__schedule:hover + .contacts__schedule-popup {
  display: block;
}

.contacts__schedule-popup:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  right: 30%;
  transform: rotate(-45deg);
  background-color: #cdd1d2;
}

.contacts__schedule-work {
  display: inline-block;
  font-weight: 700;
}
.contacts__schedule-lunch {
  font-weight: 600;
  display: inline-block;
  color: #1e1f20;
}

/* HERO */

.hero {
  margin-bottom: 246px;
}
.hero__title {
  width: 511px;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 27px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 33px;
}

/* TOURS */

.tours {
  margin-bottom: 123px;
}

.tours__cards {
  display: flex;
  justify-content: space-between;
}

.tours__card:not(:last-child) {
  margin-right: 27px;
}

/* TOURS CARD */

.card {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}
.card__img-bg {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__content {
  background-color: #fff;
  padding: 33px 22px;
}

.card__title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 21px;
}
.card__conditions {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  color: #666666;
  font-size: 16px;
}

.card__conditions-calendar {
  position: relative;
  width: 40%;
}
.card__conditions-meal {
  position: relative;
  width: 40%;
}

.card__conditions-calendar:before {
  display: block;
  position: absolute;
  left: -34px;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("img/calendar.png");
}
.card__conditions-meal:before {
  position: absolute;
  left: -48px;

  content: "";
  display: block;
  width: 36px;
  height: 26px;
  background-image: url("img/meal.png");
}

.card__text {
  color: #303030;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;
}

.card__btn {
  background-color: #ffffff;
  color: #f5170e;
  border: 1px #f5170e solid;
  padding: 18px 30px;
}

.card__btn:hover {
  color: #ffffff;
  background-color: #f5170e;
}

/* NEWS */
.news {
  margin-bottom: 47px;
}

.news__cards {
  display: flex;
  justify-content: space-between;
}

.news__card {
  padding: 252px 30px 30px 30px;
}

.news__card:not(:last-child) {
  margin-right: 25px;
}

.news__card--1 {
  background: url("img/plain.png") no-repeat;
  flex: 1;
}
.news__card--2 {
  background: url("img/Surfer.png") no-repeat;
  flex: 1;
}
.news__date {
  margin-bottom: 12px;
  display: block;
}
.news__text {
  font-size: 16px;
  line-height: 24px;
}

.news__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 3.5px;
}

/* PAGINATOR */
.paginator {
  display: flex;
  justify-content: center;
  margin-bottom: 242px;
}

.paginator__list {
  list-style-type: none;
}
.paginator__item {
  display: inline-block;
  font-size: 16px;
}

.paginator__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  line-height: 21px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}

.paginator__title {
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  margin-right: 25px;
}

.paginator__link:hover,
.paginator__link:active {
  color: #a14541;
  background-color: #ffffff;
}

.paginator__link--active {
  color: #a14541;
  background-color: #ffffff;
}

/* ABOUT */
.about {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 51px;
}

.about__card {
  position: relative;
  width: 785px;
  background: url("img/mountains.jpg") no-repeat;
  padding: 72px 161px 68px 77px;
  border: 5px;
  overflow: hidden;
}

.about__card_secondary {
  position: absolute;
  left: 0;
  top: -99px;
  width: 490px;
  height: 505px;
  background: url("img/gates.jpg") center center / cover no-repeat;
  border-radius: 5px;
  overflow: hidden;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 37px;
}

.about__text {
  font-size: 16px;
  line-height: 27px;
  color: #060606;
  margin-bottom: 72px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  padding-top: 42px;
  padding-bottom: 38px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__logo {
  margin-right: 78px;
}

.footer__contacts {
  margin-left: 63px;
}
.footer__menu {
  flex: 1;
}

.social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.social__item {
  width: 36px;
  height: 36px;
}
.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.social__link--telegram {
  background-image: url("img/telegram-1.png");
}
.social__link--telegram:hover {
  background-image: url("img/telegram.png");
}
.social__link--vk {
  background-image: url("img/vk-1.png");
}
.social__link--vk:hover {
  background-image: url("img/vk.png");
}

.social__link--in {
  background-image: url("img/in-1.png");
}
.social__link--in:hover {
  background-image: url("img/in.png");
}
.social__link--f {
  background-image: url("img/f-1.png");
}
.social__link--f:hover {
  background-image: url("img/f.png");
}
.social__item:not(:last-child) {
  margin-right: 8px;
}

.contacts__note {
  color: #9a9a9a;
  font-size: 11px;
}
