*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #001821;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  /* min-width: 1160px; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.wrapper--index {
  background: url("../../img/bg.jpg") center top no-repeat;
}

.wrapper--service {
  background-color: #fff;
}
