.card {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}
.card__img-bg {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__content {
  background-color: #fff;
  padding: 33px 22px;
}

.card__title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 21px;
}
.card__conditions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  color: #666666;
  font-size: 16px;
}

.card__conditions_icon {
  padding-left: 40px;
  position: relative;
  width: 50%;
  line-height: 36px;
}

.card__conditions_icon::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 26px;
  height: 26px;
}

.card__conditions-meal {
  padding-left: 50px;
}

.card__conditions-calendar:before {
  background-image: url("../../img/calendar.png");
}
.card__conditions-meal:before {
  background-image: url("../../img/meal.png");
  width: 36px;
}

.card__text {
  color: #303030;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;
}
