.contacts {
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}

.contacts__phone {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  padding-top: 10px;
}
.contacts__phone-num {
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
}

.contacts__dropdown {
  position: relative;
}

.contacts__schedule {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  text-decoration: underline;
  color: #98a4a8;
  font-style: normal;
  cursor: pointer;
}

.contacts__dropdown:hover .contacts__schedule {
  color: white;
}
.contacts__popup {
  position: absolute;
  min-width: 160px;
  margin-top: 10px;
  padding: 11px 0 11px 19px;
  top: 100%;
  right: -9999px;
  border-radius: 5px;
  background-color: #cdd1d2;
  color: #1e1f20;
  text-align: left;
  line-height: 21px;
  opacity: 0;
  transition: opacity 0.5s;
}
.contacts__dropdown:hover .contacts__popup {
  right: 0;
  opacity: 1;
}

.contacts__popup:before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  left: 0;
  right: 0;
  top: -10px;
}
.contacts__popup:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  right: 30%;
  transform: rotate(-45deg);
  background-color: #cdd1d2;
}

.contacts__scedule--services {
  color: #fff;
}
.contacts__schedule-work {
  display: inline-block;
  font-weight: 700;
}
.contacts__schedule-lunch {
  font-weight: 600;
  display: inline-block;
  color: #1e1f20;
}

.contacts__note {
  color: #9a9a9a;
  font-size: 11px;
}
