.footer {
  min-height: 55px;
  padding-bottom: 38px;
  background-color: #001821;
}

.footer__col {
  display: flex;
}

.footer__cols {
  display: flex;
  padding-top: 42px;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__col {
  align-items: center;
}
.footer__logo {
  margin-right: 78px;
}

.footer__contacts {
  margin-left: 63px;
}
.footer__menu {
  flex: 1;
}
