.header {
  min-height: 55px;
  padding-top: 33px;
}

.header--index {
  margin-bottom: 117px;
}
.header--service {
  background: url("../../img/headline.jpg") no-repeat;
  background-size: cover;
  background-color: #001821;
  margin-bottom: 98px;
}

.header--reviews {
  background: url("../../img/headline.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 98px;
  background-color: #001821;
}

.header__cols {
  display: flex;
  justify-content: space-between;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 85px;
  height: 36px;
  margin-right: 80px;
}

.header__logo--big {
  width: 98px;
  height: 42px;
  margin-right: 66px;
}
