.news {
  margin-bottom: 54px;
}

.news__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 30px 30px 30px;
  min-height: 394px;
}

.news__card:not(:last-child) {
  margin-right: 25px;
}

.news__card--1 {
  background: url("../../img/plain.png") no-repeat;
}
.news__card--2 {
  background: url("../../img/Surfer.png") no-repeat;
}
.news__date {
  margin-bottom: 12px;
  display: block;
}
.news__text {
  font-size: 16px;
  line-height: 24px;
}

.news__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 3.5px;
}
