.partners {
  background-color: #f4f5f5;
  padding-top: 95px;
  padding-bottom: 55px;
}

.partners__logos {
  min-height: 188px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}

.partners__img {
  display: flex;
  align-items: center;
  width: 250px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 25px;
  filter: grayscale(100%);
  -webkit-transition: all 0.8s ease-in-out;
}

.partners__img:nth-child(4n + 1) {
  margin-left: 0;
  justify-content: flex-start;
}
.partners__img:nth-child(4n) {
  justify-content: flex-end;
}

.partners__img:hover {
  filter: none;
  filter: grayscale(0);
}
