.partners {
  background-color: #f4f5f5;
  padding-top: 88px;
}

.partners__logos {
  min-height: 188px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  padding-bottom: 31px;
}

.partners__img {
  flex: 1 1 auto;
  min-width: 250px;
  margin-bottom: 86px;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.8s ease-in-out;
}

.partners__img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}
